<div class="container">
  <h3>Welcome To Document Management System</h3>
  <div class="row">
    <div class="col s6 offset-m5 login">
      <%= link_to 'Login', controller: 'documents' %>
    </div>
  </row>
</div>