<div class="container">
  <header>
    Welcome To Document Management System
  </header>
  <div class="row">
    <div class="col s6 offset-m5 login">
      
      <%= link_to 'Login', controller: 'documents' %>
    </div>
  </row>
</div>