<div class="container">
  <header>
    Welcome To Document Management System
  </header>
  <div>
    <div class="login_template">
      <%= render 'login' %>
    </div>
    <div class="signup_template">
    <div class="row">
      <div class="col s7 offset-m5 signup">
        <p>
          <%= link_to 'Sign Up', controller: 'documents' %> to register!!!
        </p>
      </div>
    </div>
  </div>
</div>