// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  .new_document_template {
    margin: 2%;
    a {
      color: #003E1F;
    }
  }
  .new_document {
    margin: 2%;
    padding: 1% 5% 2% 5%;
    background-color: red;
  }
  .back {
    width: 50%;
    text-align: left;
    padding: 4% 4% 4% 0;
  }
  .submit {
    width: 50%;
    text-align: right;
    padding: 4% 4% 4% 0;
  }
  table {
    width: 96%;
    margin: 0 2% 3% 2%;
    padding-top: 2%;
    th {
      background-color:#73BA9B;
      color: #D5F2E3;
    }
    tr {
      border-left: #73BA9B;
      color: #003E1F;
      a {
        color: #003E1F;
      }
    }
  }
}